<!DOCTYPE html>
<html>
<head>
    <title>WebSocket Test</title>
</head>
<body>
    <header>
        <button id="list_apps">Список заявок</button>
    </header>
    <div class="quotations_bloc">
        <table id="quotations">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Symbol</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody id="myTable"></tbody>
        </table>
    </div>
    <div id="ticker">
        <p id="name_product">product</p>
        <input id="summa" placeholder="summa">

        <div class="ramka">
            <div id="div_sell">
                <span id="price_sell">price_sell</span>
                <button id="btn_sell">sell</button>
            </div>

            <div id="div_buy">
                <span id="price_buy">price_buy</span>
                <button id="btn_buy">buy</button>
            </div>
        </div>
    </div>
</body>
</html>
